.container{
  width: 100%;
  background-image: url('../../assets/images-header/header.jpg');
 /* height: 200vh;*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}
.nav-x{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.container p {
  /* Assurez-vous que le z-index est inférieur à celui de .nav-x pour que le paragraphe soit en dessous */

}



