.container{
  background-color: #171C2A;
  padding: 10px;
}
h1{
  padding-top: 10px;
  text-align: center;
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 40px;
}
ul {
  display: flex;
  justify-content: center;
}
ul li {
  margin-right: 30px;

}
.container ul li a{
  color: #ffffff;
  position: relative;
  padding-bottom: 15px;

}
.container ul li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: 2px solid #FDA403;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s ease-in-out;
}
.container ul li a:hover::before{
  transform-origin: left;
  transform: scaleX(1);
}
.container ul li a:hover{
  color: wheat;
}
p{
  margin-top: 25px;
  text-align: center;
  color: #ffffff;
}
p span{
  color: #FDA403;
}
