<div class="container">
  <p><a href="#"><i class="fa-solid fa-computer-mouse"></i> Scroll Down</a></p>
  <h1 class="about-title">About me </h1>
  <div class="about">
    <p>My name is Tarik Belaid , I'm 22 years old after obtaining my baccalaureate I decided to continue my study at ENSA MARRAKESH in computer science .</p>
  </div>
  <div class="skills">
    <div class="front-end">
      <h1>Front-end</h1>
      <ul>
        <li><p>HTML<span>99%</span></p>
          <span class="bar"><span class="html"></span></span>
        </li>
        <li><p>CSS <span>90%</span></p>
          <span class="bar"><span class="css"></span></span>
        </li>
        <li><p>JavaScript <span>60%</span></p>
          <span class="bar"><span class="js"></span></span>
        </li>
        <li><p>Boostrap <span>94%</span></p>
          <span class="bar"><span class="boostrap"></span></span>
        </li>
        <li><p>Angular <span>70%</span></p>
          <span class="bar"><span class="angular"></span></span>
        </li>
      </ul>
    </div>
    <div class="back-end">
      <h1>Back-end</h1>
      <ul>
        <li><p>java orienté objet <span>80%</span></p>
          <span class="bar"><span class="java"></span></span>
        </li>
        <li><p>java standard edition <span>88%</span></p>
          <span class="bar"><span class="j2e"></span></span>
        </li>
        <li><p>Spring <span>82%</span></p>
          <span class="bar"><span class="spring"></span></span>
        </li>
        <li><p>Spring Boot <span>83%</span></p>
          <span class="bar"><span class="springboot"></span></span>
        </li>
      </ul>
    </div>
    <div class="database">
      <h1>database</h1>
      <ul>
        <li><p>SQL <span>90%</span></p>
          <span class="bar"><span class="sql"></span></span>
        </li>
        <li><p>PostgreSQL <span>91%</span></p>
          <span class="bar"><span class="PostgreSQL"></span></span>
        </li>
        <li><p>Oracle <span>60%</span></p>
          <span class="bar"><span class="oracle"></span></span>
        </li>
      </ul>
    </div>

  </div>
</div>
