.container{
  position: relative;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 70px;
}
.container h1{
  color: #ffffff;
  text-align: center;
}
.list-projects{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 40px;
  padding: 10px;
}
.project{
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0px 0px 12px #000000;
  display: grid;
  grid-template-columns: auto;
  grid-gap: 50px;
  overflow: hidden;
  justify-content: center;
}
.project img{
  display: block;
  width: 350px;
  border-radius: 20px;
  object-fit: cover;
  height: 200px;
}
.demo-github{
  padding-bottom: 20px;
}
.demo-github p{
  text-align: center;
  color: #ffffff;
}
.urls{
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}
.demo-github a{
  color: #ffffff;
  font-size: 16px;
  border: 1px solid #ffffff;
  padding: 10px 15px;
  border-radius: 13px;
  cursor: pointer;
  position: relative;
  z-index:1;
  overflow: hidden;
}
.demo-github a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
 left: 0;
  transform-origin: right;
  transition: transform .5s ease-in-out;
  transform: scaleX(0);
  background-color: #6C0345;
  z-index:-1;
}
.demo-github a:hover::before{
  transform-origin:left;
  transform: scaleX(1);
}
.demo-github a:hover{
  border-color: #6C0345;
}
.demo-github p{
  display: block;
}
@media screen and (max-width:881px){
  .list-projects{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    grid-gap: 50px;
  }
}
