<div class="container">
  <h1>Projects</h1>
  <div class="list-projects">
    <div class="project">
      <img src="./assets/images-Projects/image-Portfolio.jpg" alt="project">
      <div class="demo-github">
        <p>Project 1 : Portfolio</p>
        <div class="urls">
          <a href="https://github.com/tarikprogrammer/Portfolio-Angular" class="demo">Github</a>
          <a href="https://portfolio-angular-dic7.onrender.com/" class="demo">Live Demo</a>
        </div>
      </div>
    </div>
    <div class="project">
      <img src="./assets/images-Projects/image-taiga.png" alt="project">
      <div class="demo-github">
        <p>Project 2 : taiga maroc</p>
        <div class="urls">
          <a href="https://github.com/tarikprogrammer/Taiga-maroc" class="demo">Github</a>
          <a href="https://taiga-maroc.onrender.com/" class="demo">Live Demo</a>
        </div>
      </div>
  </div>
    <div class="project">
      <img src="./assets/images-Projects/caculatrice.jpg" alt="project">
      <div class="demo-github">
        <p>Project 3: calculatrice</p>
        <div class="urls">
          <a href="https://github.com/tarikprogrammer/angular-calculatrice" class="demo">Github</a>
          <a href="https://angular-calculatrice-updated.onrender.com" class="demo">Live Demo</a>
        </div>
      </div>
    </div>
</div>
</div>
