<div class="container">
  <h1>Projects</h1>
  <div class="list-projects">
    <div class="project">
      <img src="./assets/images-Projects/image-Portfolio.jpg" alt="project">
      <div class="demo-github">
        <p>Project 1 : Portfolio</p>
        <div class="urls">
          <a class="demo">Github</a>
          <a class="demo">Live Demo</a>
        </div>
      </div>
    </div>
    <div class="project">
      <img src="./assets/images-Projects/image-taiga.png" alt="project">
      <div class="demo-github">
        <p>Project 2 : taiga maroc</p>
        <div class="urls">
          <a class="demo">Github</a>
          <a class="demo">Live Demo</a>
        </div>
      </div>
  </div>
    <div class="project">
      <img src="./assets/images-Projects/caculatrice.jpg" alt="project">
      <div class="demo-github">
        <p>Project 3: calculatrice</p>
        <div class="urls">
          <a class="demo">Github</a>
          <a class="demo">Live Demo</a>
        </div>
      </div>
    </div>
</div>
