<div class="container"  >
  <div class="content-text" data-aos="zoom-out" data-aos-duration="1500" data-aos-delay="100">
    <span class="icon">Tarik Belaid</span>
   <h1>I'm a <span class="text"></span></h1>
    <div class="cv-projects">
      <a href="#" class="cv">Download cv <i class="fa-solid fa-file-lines"></i></a>
      <a  href="#" class="p" >View My Projects</a>
    </div>
  </div>
  <div class="img" data-aos="zoom-in" data-aos-duration="1500" data-aos-delay="100">
    <img src="./assets/images-header/Mon_image.png">
  </div>
</div>
